S3method("[",chain)
S3method("[<-",chain)
S3method(hist,chain)
S3method(plot,chain)
S3method(print,chain)
S3method(summary,chain)
export(compose)
export(crossover)
export(exchange)
export(gibbs)
export(heat)
export(iterate)
export(metropolis)
export(mutate)
export(prune)
export(reproduce)
export(target)
